<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="row w-100 d-flex align-items-center">
            <div class="col-md-3 d-flex align-items-center">
                <label class="form-label mb-0 me-2">Region:</label>
                <select class="navbar__select-region form-select">
                    <option value="United States" selected>United States</option>
                    <option value="Österreich">Österreich</option>
                    <option value="Polska">Polska</option>
                </select>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <label class="form-label mb-0 me-2">Error (Range):</label>
                <input type="range" class="navbar__range-error form-range" min="0" max="10" step="0.25" value="0"/>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <label class="form-label mb-0 me-2">Error (Number):</label>
                <input type="number" class="navbar__input-error form-control" min="0" max="1000" step="1" value="0"/>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <label class="form-label mb-0 me-2">Seed:</label>
                <div class="input-group">
                    <input type="number" class="navbar__input-seed form-control" value="0"/>
                    <button class="navbar__button-seed btn btn-secondary">Random</button>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-end">
                <button class="navbar__button-export btn btn-primary">Export to CSV</button>
            </div>
        </div>
    </div>
</nav>

<div class="table__container table-responsive" style="height: 800px;">
    <table class="table table-bordered table-striped w-100">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody class="table__body"></tbody>
    </table>
</div>

<script src="~/js/InfinityScroll.js"></script>
<script src="js/ExportCsv.js"></script>
